// main: theme.less

/*
* Grid
*/

.grid .is-dirty {
    background-color: @state-warning-bg;
}

.grid .grid-row-xs {
    width: 100px;
}

.grid .grid-row-sm {
    width: 200px;
}

.grid .grid-row-md {
    width: 300px;
}

.grid .grid-row-lg {
    width: 400px;
}

.grid .grid-row-details {
    border-top:none;
    padding-top:0px;
    border-top: 1px solid #dddddd;
}

.grid .grid-row-details > div {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;

    background-color: #f0f0f0;
    margin:10px;
    margin-top:0px;
    padding: 10px;

    border: 1px solid #dddddd;
    border-top:0px;
}

.grid > tbody > tr > td {
    vertical-align: middle;
}

.panel > .panel-body + .grid, 
.panel > .grid + .panel-body {
    border-top: none;
}

/*
 * Grid - Files
 */

.grid-files-item {
    float:left;
    text-align:center;
    margin:4px;
    width:116px;
    position:relative;
}

.grid-files-item-menu {
    position:absolute;
    top:-8px;
    width:100%;
}

.grid-files-item-body {
    border:4px solid transparent;
    height:100px;
    cursor:pointer;
}

.grid-files-item-body.selected {
    border: 4px solid #808080;
}

.grid-files-item-body table {
    width:100%;
    height:100%;
    background-color:#f3f3f4;
}

.grid-files-item-body td {
    text-align:center;
    vertical-align:middle;
}

.grid-files-item-body img {
    max-width:90px;
    max-height:90px;
    width:90px;
}

.grid-files-item-body span {
    font-size:30px;
    color:#808080;
}

.grid-files-item-body i {
    font-size:50px;
    color:#808080;
}

.grid-files-item-link {
    color:#808080 !important;
}