// main: theme.less

/*
* Notifications
*/

.notification-container {
    position:fixed;
    right:10px;
    z-index:99999;
}

.notification-container .alert {
    width:300px;
    margin:10px;
    position:relative;
}

.notification-container .alert.expanded {
    width:auto;
    position: fixed;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}

.notification-container .alert.expanded > table {
    height:100%;
}

.notification-container .notification-content {
    overflow:auto;
    max-height:200px;
}

.notification-container .alert.expanded .notification-content {
    max-height:100%;
}

/*
* Alert
*/

.alert.alert-default {
    background-color: @alert-default-bg;
    color: @alert-default-text;
    border: 1px solid @alert-default-border;
}

.alert a {
    color: inherit;
}

.alert > .alert-pin {
    position:absolute;
    top:2px;
    left:2px;
}

.alert > .alert-expand {
    position:absolute;
    top:2px;
    right:20px;
    cursor:pointer;
}

.alert > .alert-close {
    position: absolute;
    top: 0px;
    right: 2px;
    cursor: pointer;
    font-size: 16px;
}